name: Exec2.5 Pipeline - Checkout + Upload + Download + Send to S3

on:
  push:
    branches: [ main ]
env:
  NOME_ARTEFATO: myApp

jobs:
  checkout:
    runs-on: ubuntu-latest
    name: Realiza Checkout e Upload via Action
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        repository: ${{ github.repository }}
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        name: ${{ env.NOME_ARTEFATO }}
        path: .

  deployS3:
    runs-on: ubuntu-latest
    name: Inclui arquivo de marcacao
    needs: checkout
    steps:
    - name: Download
      uses: actions/download-artifact@v2
      with:
        name: ${{ env.NOME_ARTEFATO }}
    - name: Add File
      run: echo 'Approved' > quality_gate_check.info
    - name: list dir
      run: ls -ltra; pwd
    - name: make dir
      run: mkdir pkg
    - name: zip dir
      run: zip -r pkg/package.zip *
    - name: Upload binary to S3 bucket
      uses: tpaschalis/s3-sync-action@master
      with:
        args: --acl public-read
      env:
        FILE: pkg/package.zip
        AWS_REGION: 'sa-east-1'
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}