name: Exec2 Pipeline

on:
  push:
    branches: [ main ]
env:
  NOME_ARTEFATO: REPO

jobs:
  checkout:
    runs-on: ubuntu-latest
    name: Realiza Checkout via Action
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        repository: ${{ github.repository }}
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        name: ${{ env.NOME_ARTEFATO }}
        path: .
