name: Exec2.5 Pipeline - Checkout + Upload + Download + Send to S3

on:
  push:
    branches: [ main ]
env:
  NOME_ARTEFATO: myApp

jobs:
  checkout:
    runs-on: ubuntu-latest
    name: Realiza Checkout e Upload via Action
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        repository: ${{ github.repository }}
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        name: ${{ env.NOME_ARTEFATO }}
        path: .

  deployS3:
    runs-on: ubuntu-latest
    name: Inclui arquivo de marcacao
    needs: checkout
    steps:
    - name: Download
      uses: actions/download-artifact@v2
      with:
        name: ${{ env.NOME_ARTEFATO }}
    - name: Add File
      run: echo 'Approved' > quality_gate_check.info
    - name: list dir
      run: ls -ltra; pwd
    - name: make dir
      run: mkdir pkg
    - name: Configure AWS credentials from Test account
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: sa-east-1
    - name: Get Offical version_app
      run: aws lambda invoke --function-name UpdateVersion version.txt; export VERSION=$(cat version.txt); echo $VERSION
    - name: zip dir
      run: zip -r pkg/package-$(echo $VERSION).zip *
    - name: Copy files to the test website with the AWS CLI
      run: |
        aws s3 cp pkg/package-$(echo $VERSION).zip s3://github-repo-s3/myApp.zip
    - name: Sending SMS via sns
      run: |
        aws sns publish --topic-arn "${{ secrets.ARN_TOPIC_AWS }}" --message "Deploy Realizado com Sucesso"






