name: Exec2.5 Pipeline - Checkout + Upload + Download + Send to S3

on:
  push:
    branches: [ main ]
env:
  NOME_ARTEFATO: myApp

jobs:
  checkout:
    runs-on: ubuntu-latest
    name: Realiza Checkout e Upload via Action
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        repository: ${{ github.repository }}
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        name: ${{ env.NOME_ARTEFATO }}
        path: .

  deployS3:
    runs-on: ubuntu-latest
    name: Inclui arquivo de marcacao
    needs: checkout
    steps:
    - name: Download
      uses: actions/download-artifact@v2
      with:
        name: ${{ env.NOME_ARTEFATO }}
    - name: Add File
      run: echo 'Approved' > quality_gate_check.info
    - name: list dir
      run: ls -ltra
    - name: zip dir
      run: zip -r package.zip *
    - uses: keithweaver/aws-s3-github-action@master
      with:
        command: cp
        source: package.zip
        destination: s3://github-repo-s3/github/package.zip
        aws_access_key_id: ${{ secret.AWS_ACCESS_KEY }}
        aws_secret_access_key: ${{ secret.AWS_SECRET_KEY }}
