name: Exec2 Pipeline

on:
  push:
    branches: [ main ]
env:
  NOME_ARTEFATO: "REPO"

jobs:
  
  checkout:
    runs-on: ubuntu-latest
    name: Realiza Checkout via Action
    steps:
    - uses: action/checkout@v2
      with:
        repository: 'DarlanDelmondesSchool/devopslab'
    - uses: actions/upload-artifact@v2
      with:
        name: ${{ env.NOME_ARTEFATO }}
